page-register {


.bg-image { 
  /* The image used */
  background-image: url("../assets/imgs/register.jpg");

  /* Full height */

  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center-top;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-style {
	background-color: transparent;
}

.button-style {
     background-image: url("../assets/imgs/register.jpg");
      }


.text {
	color: white;
}
}
