page-sand-p {

}


.bg-image { 
  /* The image used */
  background-image: url("../assets/imgs/gradientbeige.jpg");

  /* Full height */

  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center-top;
  background-repeat: no-repeat;
  background-size: cover;
}